/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}
/*圖片與模盒行*/
img{
max-width:100%;
height:auto;
display: block;
}
*,*::before,*::after{
box-sizing:border-box;
}
/*推擠預設*/
.mb-1{
    margin-bottom: 8px;
}
.mb-2{
    margin-bottom: 16px;
}
.mb-3{
    margin-bottom: 24px;
}
.mb-4{
    margin-bottom: 32px;
}
.mb-5{
    margin-bottom: 40px;
}
.mb-6{
    margin-bottom: 48px;
}
.mb-7{
    margin-bottom: 56px;
}
.mb-8{
    margin-bottom: 64px;
}
.mb-9{
    margin-bottom: 72px;
}
.bm-10{
    margin-bottom: 80px;
}
/* 背景預設 */
.bg-primary{
    background-color: #AA0601;
}
.bg-secondary{
    background-color: #AA06010D;
}
.bg-dark{
    background-color:#111619;
}
.bg-warning{
    background-color: #650300;
}
/* 文字預設 */
.text-primary{
    color: #AA0601;
}
.text-secondary{
    color: #650300;
}
.text-white{
    color: #FFFFFF;
}
.text-dark{
    color: #212529;
}
.text-lightGray{
    color: #707070;
}
.text-gray{
    color: #555555;
}
.text-darkGray{
    color: #0A0A0A;
}
.text-center{
    text-align: center;
}
.fw-b{
    font-weight: bold;
}
.fs-7{
    font-size: 14px;
    line-height: 21px;
}
.fs-6{
    font-size: 16px;
    line-height: 24px;
}
.fs-5{
    font-size: 20px;
    line-height: 30px;
}
.fs-4{
    font-size: 24px;
    line-height: 36px;
}
.fs-3{
    font-size: 36px;
    line-height: 54px;
}
.fs-2{
    font-size: 48px;
    line-height: 72px;
}
.fs-1{
    font-size: 64px;
    line-height: 96px;
}
@media(max-width:768px){
    .fs-md-7{
        font-size: 14px;
        line-height: 21px;
    }
    .fs-md-6{
        font-size: 16px;
        line-height: 24px;
    }
    .fs-md-5{
        font-size: 20px;
        line-height: 30px;
    }
    .fs-md-4{
        font-size: 24px;
        line-height: 36px;
    }
    .fs-md-3{
        font-size: 36px;
        line-height: 54px;
    }
    .fs-md-2{
        font-size: 48px;
        line-height: 72px;
    }
    .fs-md-1{
        font-size: 64px;
        line-height: 96px;
    }
}
@media(max-width:375px){
    .fs-sm-7{
        font-size: 14px;
        line-height: 21px;
    }
    .fs-sm-6{
        font-size: 16px;
        line-height: 24px;
    }
    .fs-sm-5{
        font-size: 20px;
        line-height: 30px;
    }
    .fs-sm-4{
        font-size: 24px;
        line-height: 36px;
    }
    .fs-sm-3{
        font-size: 36px;
        line-height: 54px;
    }
    .fs-sm-2{
        font-size: 48px;
        line-height: 72px;
    }
    .fs-sm-1{
        font-size: 64px;
        line-height: 96px;
    }
}
body{
    font-family: 'Noto Sans TC','Roboto', sans-serif;
}
/* 以下開始 */
.header{
    display: flex;
    justify-content: space-between;
}
.header img{
    width: 80px;
    height: auto;
    vertical-align: center;
    margin:30px 0 30px 80px;
}
.header ul{
    display: flex;
    align-items: center;   
}
.header ul li{
    padding:0 32px;
}
.header ul li a{
    display: block;
}
@media(max-width:768px){
    .header img{
        margin: 30px 0 30px 40px;
    }
    .header ul li{
        padding:0 20px;
    }
}
@media(max-width:375px){
    .header{
        display: block;
        text-align: center;
    }
    .header img{
        display: inline-block;
        width: 48px;
        margin: 10px 0;
    }
    .header h1 a{ 
        display: block;
    }
    .header ul {
        flex-wrap: wrap;
    }
    .header ul li{
        border: #FFFFFF solid 1px;
        width:50%;
        margin-right: 0px;
    }
}
.container{
    max-width:1140px;
    margin: 0 auto;
    padding: 60px 15px 80px 15px;
}
@media(max-width:768px){
    .container{
        max-width: 720px;
        padding: 40px 15px 56px 15px;
    }
}
@media(max-width:375px){
    .container{
        max-width: 375px;
        padding: 30px 15px 40px 15px;
    }
}
.banner{
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true)
    center center no-repeat;
    background-size:cover ;
    padding: 348px 0;
}
.banner .container{
    text-align: right;
}
@media(max-width:375px){
    .banner{
        background:url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true) center center no-repeat;
        background-size: cover;
        padding:165px 0;
    }
}
.introduce-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.introduce-list-card{
    max-width: 255px;
    text-align: center;
}
.introduce-list-card img{
    width: 84px;
    height: 84px;
    margin: 0 auto;
}
.introduce-list-card p{
    text-align:start;
}
@media(max-width:768px){
    .introduce-list{
        flex-wrap: wrap;
    }
    .introduce-list-card{
        margin-bottom: 32px;
    }
}
@media(max-width:375px){
    .introduce-list{
        justify-content: center;
    }
}
.classicGlasses-card {
    display: flex;
    align-items: center;
}
.classicGlasses-card .product{
    max-width: 635px;
}
.classicGlasses-card-title{
    display: flex;
    margin-left: 32px;
}
.classicGlasses-card-title h3{
    margin-left:8px ;
}
.classicGlasses-card:nth-child(2){
    flex-direction:row-reverse
}
.classicGlasses-card:nth-child(2) .product{
    margin-left: 30px;
}
@media(max-width:768px){
    .classicGlasses-card{
        margin-bottom: 8px;
    }
    .classicGlasses-card .product{
        max-width: 390px;
    }
    .classicGlasses-card:nth-child(2){
        flex-direction:row
    }
    .classicGlasses-card:nth-child(2) .product{
        margin-left: 0px;
    }
}
@media(max-width:375px){
    .classicGlasses-card{
        position: relative;
    }
    .classicGlasses-card-title{
        position: absolute;
        top: 53px;
        left:50px;
    }
    .classicGlasses-card-title img{
        width: 36px;
    }
}
.joinName{
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true)
    center center no-repeat;
    background-size: cover;
}
.joinName-list{
    display: flex;
    justify-content: space-between;
}
.joinName-list-product{
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-8.png?raw=true )
    center center no-repeat ;
    background-size: cover;
    width: 540px;
    padding:180px 0px;
    opacity: 0.5;
}
.joinName-list-product h3{
    font-size: 72px;
    line-height: 108px;
    text-align: center;
}
.joinName-list-product:nth-child(2){
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-9.png?raw=true)
    center center no-repeat;
    opacity: 0.5;
}
@media(max-width:768px){
    .joinName-list-product{
        max-width: 330px;
        padding:117px 0;
    }
    .joinName-list-product h3{
        font-size: 32px;
        line-height: 25px;
        text-align: center;
    }
}
@media(max-width:375px){
    .joinName-list{
        display: block;
        justify-content: center;
    }
    .joinName-list-product{
        margin-bottom: 16px;
    }
}
.recommed-list{
    display: flex;
    justify-content: space-between;
}
.recommed-list-card{
    max-width: 255px;
    border: #DEE2E6 solid 1px ;  
}
.recommed-list-card span,
.recommed-list-card p{
    margin-left:16px ;
    display: block;
}
@media(max-width:768px){
    .recommed-list{
        flex-wrap: wrap;
    }
    .recommed-list-card{
        max-width: 330px;
        margin-bottom: 32px;
    }
}
@media(max-width:375px){
    .recommed-list-card{
        max-width: 345px;
        margin-bottom: 16px;
    }
    .recommed-list-card img{
        max-width: 345px;
    }
}
.content{
    max-width: 730px;
    margin: 0 auto;
    padding: 60px 0 80px 0;
}
@media(max-width:768px){
    .content{
        max-width: 450px;
        padding: 40px 0 56px 0;
    }
}
@media(max-width:375px){
    .content{
        max-width: 345px;
        padding: 30px 0 48px 0;
    }
}
.contact-input-box{
    display: inline-block;
    width:100%;
    line-height: 50px;
}
.contact textarea{
    height: 136px;
    width: 100%;
}
.form-submit{
    display: flex;
    justify-content: center;
}
.form-submit-btn{
    padding: 16px 143px;
    border: 0px;
}
@media(max-width:768px){
    .form-submit-btn{
        padding: 10px 77px;
    }
}
@media(max-width:375px){
    .form-submit-btn{
        padding: 8px 54px;
    }
}
.footer-nav{
    display: flex;
    justify-content: space-between;
}
.footer-nav-bar{
    display: inline-flex;
}
.footer-nav-bar li{
    margin-right: 48px;
}
.footer-nav-icon{
    display: flex;
    align-items: center;
}
.footer-nav-icon li{
    margin-left:32px;
}
.footer-sm-connect{
    display: none;
}
@media(max-width:768px){
    .footer-nav-bar li{
        margin-right: 40px;
    }
    .footer-nav-icon li{
        margin-left:24px;
        display: inline-block;
        width: 24px;
    }

}
@media (max-width:375px) {
    .footer-nav-bar{
        display: none;
    }
    .footer-sm-connect{
        display:inline-block;
    }
    .footer-nav{
        border-bottom:1px solid  #FFFFFF;
    }
    .footer-sm-connect img{
        display: inline-block;
    }
}

.footer-connect{
    border-bottom:1px solid  #FFFFFF;
}
.footer-connect img{
    display: inline-block;
}
@media(max-width:768px){
    .footer-connect li img,
    .footer-sm-connect li img
    {
        width: 20px;
    }
}
@media (max-width:375px){
    .footer-connect{
        display: none;
    }
}
.copyright{
    display: flex;
    justify-content: space-between;
}
.copyright ul{
    display: flex;
}
.copyright ul li{
    margin-left: 48px;
}
@media (max-width:375px){
    .copyright{
        display: block;
        justify-content: start;
    }
    .copyright p {
        margin-bottom: 8px;
    }
    .copyright ul{
        display:block;
        justify-content: start;
    }
    .copyright ul li{
        margin-left: 0px;
        margin-bottom: 8px;
    }
}
/* --------以下第二頁開始----------*/
.optical-banner{
  display: flex;
}
.optical-banner-item{
  display: inline-block;
  width: 50%;
  height: 304px;
  background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-1.png?raw=true)center center no-repeat;
  background-size: cover;
}
.optical-banner-item:nth-child(2){
  background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-2.png?raw=true) center center no-repeat;
}
@media (max-width:375px){
  .optical-banner-item{
    height: 148px;
  }
  .optical-banner-item:nth-child(2){
    background-size: 250%;
  }
}
.nav-bar{
  width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.nav-item{
  width: 370px;
  text-align: center;
  border: 1px solid #DCDCDC;
}
.nav-item img{
  display: inline-block;
  max-width: 44px;
}
.nav-item a{
  text-decoration: none;
  color: black; 
  display: flex;
  display: block;
  padding: 26px 0;
}
@media(max-width:768px){
  .nav-bar{
    width: 690px;
  }
  .nav-item{
    max-width: 230px;
  }
  .nav-item img{
    max-width:30px;
  }
  .nav-item a{
    padding:14px 0 ;
  }
}
@media (max-width:375px){
  .nav-bar{
    width: 345px;
  }
  .nav-item{
    max-width: 115px;
  }
  .nav-item img{
    max-width:14px;
  }
  .nav-item a{
    padding:6px 0 ;
  }
}
.product-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.optical-card{
  max-width: 255px;
  margin-bottom: 104px;
}
.optical-card img{
  width: 255px;
  height: 164px;
}
.product-card-body{
    display: flex;
    justify-content: space-between;
}
.product-color::before{
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  background:#5F3E2D ;
  font-size: 24px;
  line-height: 24px;
  margin-right: 8px;
}
.product-color::after{
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  background:#B75929;
  font-size: 24px;
  line-height: 24px;
}
@media(max-width:768px){
  .optical-card{
    max-width: 330px;
    margin-bottom: 72px;
  }
  .optical-card img{
    width: 330px;
    height: 164px;
  }
}
@media (max-width:375px){
  .optical-list{
    justify-content: center;
  }
  .optical-card{
    max-width: 345px;
    margin-bottom: 32px;
  }
  .optical-card img{
    width: 345px;
    height: 166px;
  }
}
.indicator{
    display: flex;
    justify-content: center;
}
.indicator-item{
    border: 1px solid #555555;
}
.indicator-item a{
    text-decoration: none;
    display: block;
    font-size: 18;
    line-height: 27px;
    padding: 11px 12px;
    
}
@media (max-width:375px){
    .indicator-item a{
        font-size: 16;
        line-height: 24px;
        padding: 11px 11px;
    }
}
/* --------以下第三頁開始----------*/

.sunglasses-banner{
    display: flex;
  }
  .sunglasses-banner-item{
    display: inline-block;
    width: 50%;
    height: 304px;
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-3.png?raw=true)center center no-repeat;
    background-size: cover;
  }
  .sunglasses-banner-item:nth-child(2){
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/product-2-color.png) center center no-repeat;
  }
  @media (max-width:375px){
    .sunglasses-banner-item{
      height: 148px;
    }
    .sunglasses-banner-item:nth-child(2){
      background-size: 200%;
    }
  }
  .sungresses-card{
    max-width: 350px;
    margin-bottom: 104px;
  }
  .sungresses-card img{
    width: 350px;
    height: 224px;
  }
  @media(max-width:768px){
    .sungresses-card{
        max-width: 330px;
        margin-bottom: 72px;
    }
    .sungresses-card img{
        width: 330px;
        height: 164px;
    }
  }
  @media (max-width:375px){
    .sungresses-card{
        max-width: 345px;
        margin-bottom: 32px;
    }
    .sungresses-card img{
        width: 345px;
        height: 166px;
    }
  }

  /*--------以下第四頁開始----------*/

  .location h2{
      border-left: 8px solid #9F1213;
      padding-left: 16px;
  }
  @media(max-width:768px){
    .location h2{
        border-left: 4px solid #9F1213;
        padding-left: 16px;
        margin-bottom: 50px;
    }
  }
  @media (max-width:375px){
    .location h2{
        border-left: 4px solid #9F1213;
        padding-left: 8px;
        margin-bottom: 30px;
    }
  }
  .location-select{
      width: 324px;
      height: 45px;
  }
  @media(max-width:768px){
    .location-select{
        width: 237px;
        height: 46px;
    }
  }
  @media (max-width:375px){
    .location-select{
        width: 277px;
        height: 36px;
    }      
  }
  .location-list{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }
  .location-list-card{
      max-width: 350px;
  }
  @media(max-width:768px){
     .location-list-card{
        max-width: 330px;
        margin-bottom: 20px;
     }
  }
  @media (max-width:375px){
    .location-list-card{
        max-width: 345px;
        margin-bottom: 16px;
    }
    .location-list-card:nth-child(6){
        display: none;
    }
  }
  .location-list-card h3{
      padding: 12px 0px 12px 24px;
      border: 1px solid #00000020;
  }
  .location-info{
      border: 1px solid #00000020;
      padding: 16px 0 16px 26px;
  }
  .location-info img{
      display: inline-block;
      width: 20px;
      height:20px;
  }
  .location-list-card button{
      display: block; 
      width:100%;
      height:67px;
  }
  .location-list-card button a{
      display: block;
  }

   /*--------以下第五頁開始----------*/

.location-detail{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.location-detail .location-list-card{
    max-width:445px ;
}
@media(max-width:768px){
    .location-detail{
        justify-content: center;
    }
    .location-detail .location-list-card{
        max-width: 690px;
        display: flex;
    }
    .location-detail .location-pic{
        max-width: 330px;
        margin-right: 30px;
    }
    .location-card-body{
        max-width: 330px;
    }
}
@media (max-width:375px){
    .location-detail .location-list-card{
        display: block;
    }
    .location-detail .location-pic{
        margin: 0 auto;
    }
}
/*--------以下第六頁開始----------*/

.question h2{
    border-left: 8px solid #9F1213;
    padding-left: 16px;
}
@media(max-width:768px){
  .question h2{
      border-left: 4px solid #9F1213;
      padding-left: 16px;
      margin-bottom: 40px;
  }
}
@media (max-width:375px){
  .question h2{
      border-left: 4px solid #9F1213;
      padding-left: 8px;
      margin-bottom: 24px;
  }
}
.qa-list p{
    margin-left: 95px;
}
@media(max-width:768px){
    .question h3{
        margin-bottom: 32px;
    }
    .qa-list p{
        margin-left: 60px;
    }
}
@media(max-width:375px){
    .question h3{
        margin-bottom: 24px;
    }
    .qa-list p{
        margin-left: 0px;
    }
}
/*--------以下第七頁開始----------*/

.blog h2{
    border-left: 8px solid #9F1213;
    padding-left: 16px;
}
@media(max-width:768px){
  .blog h2{
      border-left: 4px solid #9F1213;
      padding-left: 16px;
      margin-bottom: 40px;
  }
}
@media (max-width:375px){
  .blog h2{
      border-left: 4px solid #9F1213;
      padding-left: 8px;
      margin-bottom: 24px;
  }
}
.blog-card{
    display: flex;
    justify-content: space-between;
}
.blog-card-pic{
    max-width: 635px;
    height: auto;
}
.blog-card-body{
    max-width: 445px;
}
@media (max-width:768px) {
    .blog-card-pic{
        max-width: 330px;
    }
    .blog-card-body{
        max-width: 322px;
    }
}
.blog-card-date{
    display: flex;
    justify-content: space-between;
}
.blog-card-body .blog-card-link{
    display: block;
    text-align: end;
}
@media  (max-width:375px){
    .blog-card{
        display: block;
        justify-content: center;
        margin-bottom: 20px;
    }
    .blog-card-pic{
        max-width: 345px;
        height: auto;
        margin-bottom: 8px;
    }
    .blog-card-body{
        max-width: 345px;
    }
    .blog-card-body p,
    .blog-card-body .blog-card-link{
        display: none;
    }

}
/*--------以下第八頁開始----------*/
.blogInfo-content p{
    opacity: 0.6;
}
.share-list{
    display: flex;
    border-bottom: 1px solid #707070;
    padding-bottom: 20px;
}
.share-list li{
    margin-right: 20px;
}
@media (max-width:768px){
    .share-list li{
        margin-right: 16px;
    }
}
@media (max-width:375px) {
    .share-list{
        padding-bottom: 16px;
    }
}
.blogInfo-page{
    display: flex;
    justify-content: space-between;
}
@media(max-width:375px) {
    .blogInfo-page{
        display:block;
    }
    .blogInfo-page a{
        margin-bottom: 8px;
    }
}
.blogInfo-page a{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.blogInfo-page img{
    width: 16px;
}
.blogInfo-sidebar img{
   display: inline-block;
   width: 38px;
}
.blogInfo-sidebar p{
    display: flex;
    align-items: center;
}
.tag-list{
    display: flex;
    flex-wrap: wrap;
}
.tag-list li{
    margin-right: 24px;
}
@media (max-width:768px){
    .tag-list li{
        margin-right: 16px;
    }
}
@media (max-width:375px){
    .tag-list li{
        margin-right: 8px;
    }
}
.blogInfo{
    display: flex;
    justify-content: space-between;
}
.blogInfo-content{
    max-width: 825px;
} 
.blogInfo-sidebar{
    max-width: 255px;
}
@media(max-width:768px){
    .blogInfo-content{
        max-width: 510px;
    } 
    .blogInfo-sidebar{
        max-width: 150px;
    }
}
@media (max-width:375px){
    .blogInfo{
        display:block;
    }
    .blogInfo-sidebar{
        max-width: 100%;
    }
    .blogInfo-content{
        margin-bottom: 30px;
    }
}
.breadcrumb{
    display: flex;
}
.breadcrumb li:not(:first-child)::before{
    content: "/";
    padding: 0 4px;
}
.breadcrumb .active{
    color: #AA0601;
}
.blogMenu .container{
    padding-top: 0px;
    padding-bottom:0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blogMenu-list{
    display: flex;
}
.blogMenu-item a{
    display: block;
    padding: 12px 0;
    margin-right: 48px;
}
@media(max-width:768px){
    .blogMenu-item a{
        padding: 16px 0;
        margin-right: 32px;
    }
}
@media(max-width:375px){
    .blogMenu-item a{
        margin-right: 0px;
    }
    .blogMenu .container{
        display: block;
    }
    .blogMenu-list{
        justify-content: space-between;
    }
    .blogMenu-search{
        display: none;
    }
}